body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
a,
p,
textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

a:hover {
  color: inherit;
}

img {
  border: none;
  display: inline-block;
  content: normal !important;
}



body,
html {
  background: #fff !important;
  height: 100%;
}

* {
  font-family: "Microsoft Yahei";
}

